@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora&family=Montserrat:wght@300;600&display=swap');

/* universal selectors */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    background: #000;
}
.container {
    max-width: 1440px;
    padding: 56px 26px 8rem;
    margin: 0 auto;
    color: #fff;
    height: 100%;
}

/* nav section */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 179px;
}

.header .logo {
    padding: 8px;
    border: 1px solid #fff;
    outline: none;
}

.logo #logo {
    font-family: 'Crimson Pro', serif;
    font-weight: 200px;
    font-size: 14px;
    line-height: 15.56px;
    text-transform: uppercase;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__list li:not(:last-child) {
    margin-right: 86px;
}

.nav__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.94px;
    text-transform: capitalize;
}


.header .btn {
    display: none;
}

@media only screen and (max-width: 789px) {
    nav {
        transform: translatex(100%);
        top: 0;
        /* left: 0; */
        /* bottom: 0; */
        right: 0;
        position: fixed;
        z-index: 100;
        background: #000;
        color: #fff;
        transition: all 0.5s cubic-bezier(0, 1.88, 1, 1.22);
        height: 50%;
        width: 50%;
    }

    .header .btn {
        display: block;
    }

    .nav-toggle {
        position: absolute;
        padding: 1em;
        top: 4em;
        right: 2em;
        background: transparent;
        outline: none;
        border: 0;
        cursor: pointer;
        z-index: 1000;
    }

    .nav__list li:not(:last-child) {
    margin-right: 0!important;
    }

    .nav__list {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 57px 0;
    }

    .acive .nav-toggle {
        position: fixed;
    }

    .active nav{
        transform: translatex(0);
    }

    /* the humburger */

    .ham--icon {
        display: block;
        position: relative;
    }

    .ham--icon,
    .ham--icon::before,
    .ham--icon::after {
        width: 25.5px;
        background: #fff;
        height: 3px;
        border-radius: 2px;
    }

    .ham--icon::after,
    .ham--icon::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
    }

    .ham--icon::before {
        transform: translateY(-6px);
    }

    .ham--icon::after {
        transform: translateY(6px)
    }

    .active .ham--icon {
        transform: translateX(-6px);
        background: transparent;
        box-shadow: none;
    }

    .active .ham--icon::before {
        transform: rotate(45deg) translate(10px, -10px);
    }

    .active .ham--icon::after {
        transform: rotate(-45deg) translate(10px, 10px);
    }

    .main-pic img {
        width: 717px!important;
        height: 535px!important;
    }
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* .main .text-section {
    
} */

.text-section__heading {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 61.44px;
    margin-bottom: 40px;
}

.text-section__desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 29.26px;
    font-weight: 300;
    width: 410px;
    margin-bottom: 40px;
}

.text-section .btn {
    padding: 8px 0;
    background: #000;
    border: none;
    outline: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 21.94px;
    position: relative;
}

.btn #go {
    position: absolute;
    margin-left: 15px;
    transform: translateY(10%);
    
}

.illustration > .main-pic img {
    width: 737px;
    height: 555px;
    border-radius: 5px;
}



.creator {
    position: absolute;
    width: 410px;
    height: 189px;
    padding: 20px;
    transform: translate(65%, -50%);
    background: #181719;
    border-radius: 15px;
}

.creator__main {
    display: flex;
    margin-bottom: 21px;
}


.headliner {
    width: 287px;
    padding-right: 10px;
}

.headliner h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30.72px;
    font-family: 'Lora', serif;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 18px;
}

footer p {
    color: white;
    text-align: center;
    font-size: 10px;
}

footer a:hover {
    color: blue
}

